<%- content_for :head_title do -%>
	<%= t 'general.welcome' %> <%= t 'general.application_name' %> - <%= t 'login.authenticate_yourself' %>
<%- end -%>

<%- content_for :head_end do -%>
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'jquery-ui' %>
	<%= javascript_include_tag 'jrails' %>
	<%= stylesheet_link_tag 'login' %>
<%- end -%>

<% form_tag session_path do -%>
	<fieldset>
		<!--[if !IE]>start row<![endif]-->
		<div class="row">
			<%= label_tag t('general.nickname') %>
				<span class="input_wrapper">
					<%= text_field_tag 'login', @login, :class => 'inputStyle' %>
				</span>
			</div>

			<div class="row">
				<%= label_tag t('general.password') %>
					<span class="input_wrapper">
						<%= password_field_tag 'password', nil, :class => 'inputStyle' %>
					</span>
			</div>

			<div class="row">
				<div class="inputs small_inputs">
					<span class="button blue_button unlock_button">
						<span>
							<span>
								<em>
									<span class="button_ico">
							
									</span>
								<%= t 'login.login' %>
							</em>
						</span>
					</span>
					<%= submit_tag 'Log in' %>
				</span>
			</div>
		</div>
		<!--[if !IE]>end row<![endif]-->	
	</fieldset>
<% end -%>
