<div class="portlet-header">
	<h4><%= t 'menu.classroom.classroom' %></h4>
</div>

<div class="portlet-content">
	<div class="portlet-field">
  		<%= form.label :name %>
  		<%= form.text_field :name %>
	</div>
	
	<div class="controlset portlet-field">
		<span class="label"><%= form.label :campus %></span>
		<%= form.collection_select :campus_id, Campus.all, :id, :name %>
	</div>

	<div class="controlset portlet-field" id="classroom_cursus">
		<span class="label"><%= form.label :cursus %></span>
		<%= form.collection_select :cursus_id, Cursus.all, :id, :name %>
	</div>

	<div class="bouton-box">
    	<%= form.submit t('general.save'), :class => "submit"%>
	</div>
</div>