<h1>Editing classroom</h1>

<% form_for(@classroom) do |f| %>
  <%= f.error_messages %>
	<%= render :partial => f %>
	<p>
	  <%= form.submit 'Update' %>
	</p>
<% end %>

<%= link_to 'Show', @classroom %> |
<%= link_to 'Back', classrooms_path %>