	<div class="listing-box">
<div class="listing-header">
	<h4><%= t 'menu.gestion.classroom.title' %></h4>
	
</div>
<div class="listing-content">
<table>

<% @classrooms.each do |classroom| %>
  <tr>
    <td><%=h classroom.name %></td>
    <td><%=h classroom.cursus.name %></td>
    <td><%=h classroom.campus.name %></td>
    <td><%= link_to  image_tag('editer_little.png', :class => "veralign edit"), edit_classroom_path(classroom) %>
	&nbsp;
    <%= link_to  image_tag('delete_little.png', :class => "veralign edit"), classroom, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />
</div>
<div class="listing-link"> 
<%= link_to 'New classroom', new_classroom_path %>
</div>