<h1>New classroom</h1>

<% form_for(@classroom) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :promotion %><br />
    <%= f.text_field :promotion %>
  </p>
  <p>
    <%= f.label :campus %><br />
    <%= f.text_field :campus %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', classrooms_path %>