<div class="listing-box">
<div class="listing-header">
	<h4><%= t 'menu.gestion.cursus.title' %></h4>
	
</div>
<table class="listing-table">
  <tr>
  </tr>

<% @cursuses.each do |cursus| %>
  <tr class="<%= cycle("", "odd") -%>">
    <td class="tablenamefield"><%= link_to cursus.name, cursus_path(cursus) %></td>
    <td class="tableiconfield"><%= link_to image_tag('editer_little.png', :class => "veralign edit"), edit_cursus_path(cursus) %>
	&nbsp;
    <%= link_to image_tag('delete_little.png', :class => "veralign edit"), cursus_path(cursus), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
</div>
<%= link_to 'Nouveau cursus', new_cursus_path %>