
<table>
  <tr>
  </tr>

  <tr>
	<td><%= t "general.name" %></td>
	<td><%= @cursus.name %></td>
  </tr>
  <tr>
	<td><%= t "general.description" %></td>
	<td><%= @cursus.description %></td>
  </tr>
	<% if @cursus.campuses.count > 0 %>
	<tr>
		<td><%= t "general.campuses" %></td>
		<td>
			<% @cursus.campuses.each do |campus| %>
			<%= campus.name %>
			<% end %>
		</td>
	</tr>
	<% end %>
</table>

<br />


<%= link_to 'Edit', edit_cursus_path(@cursus) %> |
<%= link_to 'Back', cursuses_path %>