<h2><%= image_tag("cursus.png", :class => 'veralign') %>  <%= t 'menu.gestion.cursus.title' %> : <%= @cursus.name %></h2>
<br />
<table style="width:50%; margin:auto;">
  <tr>
	<td><strong><%= t "general.name" %></strong></td>
	<td><%= @cursus.name %></td>
  </tr>
  <tr>
	<td><strong><%= t "general.description" %></strong></td>
	<td><%= @cursus.description %></td>
  </tr>
	<% if @cursus.campuses.count > 0 %>
	<tr>
		<td><strong><%= t "general.campuses" %></strong></td>
		<td>
			<% @cursus.campuses.each do |campus| %>
			<%= campus.name %><br />
			<% end %>
		</td>
	</tr>
	<tr>
		<td><%= link_to image_tag('edit.png', :class => "veralign") + " " + 'Edit', edit_cursus_path(@cursus) %></td>
		<td><%= link_to image_tag('delete.png', :class => "veralign") + " " + 'Delete', cursus_path(@cursus), :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>

<br />

<br />

<h2><%= image_tag("add_periods.png", :class => 'veralign') %> <%= t 'periods.splitting' %></h2>
