<%= render :partial => 'javascripts' %>

<div class="left">

	<div class="box">	
		<div class="box-header">

			<h4><%= t "general.visualisation" %> <%= t "periods.cursuses" %> : <%= @cursus.name %></h4>	
		</div> <!-- .portlet-header -->	

		<div class="box-content">				
			<div style="width:100%; height:auto;">
				<table style="margin:auto;">
					<thead>

					</thead>
					<tbody>
						<tr>
							<th><strong><%= t "general.name" %></strong></th>
							<td><%= @cursus.name %></td>
						</tr>
						<tr class="odd">
							<th><strong><%= t "general.description" %></strong></th>
							<td><%= @cursus.description %></td>
						</tr>
						<% if @cursus.campuses.count > 0 %>
						<tr>
							<th><strong><%= t "general.campuses" %></strong></th>
							<td>
								<% @cursus.campuses.each do |campus| %>
								<%= campus.name %><br />
								<% end %>
							</td>
						</tr>
						<% end %>
					</tbody>
					</table>
					<br />
					<div class="abutton">
						<span><%= link_to image_tag('edit.png', :class => "veralign") + " " + t('general.edit'), edit_cursus_path(@cursus), :class => "button" %> </span>
						<span><%= link_to image_tag('delete.png', :class => "veralign") + " " + t('general.delete'), cursus_path(@cursus), :confirm => 'Are you sure?', :method => :delete, :class => "button" %></span>
					</div>
				</div>
			</div> <!-- .portlet-content -->	
		</div> <!-- .portlet -->
	</div>

	<div class="right">

		<%= render "box_periods" %>
		<%= render "box_school_subjects" %>

	</div> <!-- .portlet -->
</div>

	<div style="clear:both;">
	</div>
