<table style="margin:auto;">
	<thead>
		<tr>
			<th width="5%"><%= t 'general.number' %></th>
			<th width="10%"><%= t 'general.type' %></th>
			<th width="35%"><%= t 'general.from' %></th>
			<th width="35%"><%= t 'general.to' %></th>
			<th width="15%"><%= t 'general.actions' %></th>
		</tr>
	</thead>
	<tbody>
		<% @periods.each do |period| %>
		<tr>
			<th><%= period.id %></th>
			<td><%= period.name %></td>
			<td><%= format_date(period.begin_at) %></td>
			<td><%= format_date(period.end_at) %></td>
			<td>edit / delete</td>
		</tr>
		<% end %>
	</tbody>
</table>