<%= render :partial => 'javascripts' %>

<% remote_form_for [@cursus, @period], :update => {:success => "periods_list", :failure => "errors"} do |f| %>
<%= f.error_messages %>
<div class="portlet-content">

	<div class="portlet-field">
		<%= f.label :begin_at, t('periods.begin_at') %>
		<%= f.text_field :begin_at, :class => "date_picker" %>
	</div>
	<div class="portlet-field">
		<%= f.label :end_at, t('periods.end_at') %>
		<%= f.text_field :end_at, :class => "date_picker" %>
	</div>
	<div class="portlet-field">
		<%= f.label :period_type, t('periods.period_type') %>
		<%= f.collection_select :period_type_id, PeriodType.all, :id, :name, {:include_blank => false} %>
	</div>
</div>
<div class="buttonrow" style="text-align:center;">
	<%= f.submit t('periods.create'), :class => "submit", :id => "new_period_creation" %>
	<%= f.submit t('periods.cancel'), options = {:name => "period[Cancel]", :class => "submit", :id => "cancel_period_creation"} %>
</div>
<br />
<% end %>

