<fieldset>
	<legend><%= t 'user.infos' %></legend>
<%= label_tag t('general.nickname') %>
<%= form.text_field :login %>
<br/>

<%= label_tag t('general.lastname') %>
<%= form.text_field :lastname %>
<br/>

<%= label_tag t('general.firstname') %>
<%= form.text_field :firstname %>
<br/>

<%= label_tag t('general.mail') %>
<%= form.text_field :email %>
<br/>

<%= label_tag t('general.password') %>
<%= form.password_field :password %>
<br/>

<%= label_tag t('general.password_confirm') %>
<%= form.password_field :password_confirmation %>
</fieldset>

<% if can? :assign_roles, current_user %>
	<fieldset>
		<legend><%= t 'user.roles' %></legend>
	<div class="row">
		<%= form.label :roles %><br />
	  <% for role in RoleType.all %>
	    <%= check_box_tag "user[role_type_ids][]", role.id, @user.roles.include?(role), :id => "role_#{role.id}" %>
	    <%= role.name %><br />
	  <% end %>
	  <%= hidden_field_tag "user[role_type_ids][]", "" %>
  
	</div>
	</fieldset>
<% end %>
<%= form.submit t('user.create') %>	