<div class="portlet-header">
	<h4><%= t 'menu.users.create_user' %></h4>
</div>

<div class="portlet-content">

	<!-- <h2><%= image_tag("user_new.png", :class => 'veralign') %> <%= t 'menu.users.create_user' %></h2> -->

	<div class="portlet-field">
		<%= form.label :login, t('general.nickname') %>
		<%= form.text_field :login %>
	</div>

	<div class="portlet-field">
		<%= form.label :lastname %>
		<%= form.text_field :lastname %>
	</div>

	<div class="portlet-field">
		<%= form.label :fistname %>
		<%= form.text_field :firstname, :class => 'medium' %>
	</div>

	<div class="portlet-field">
		<%= form.label :email %>
		<%= form.text_field :email %>
	</div>

	<div class="portlet-field">
		<%= form.label :password %>
		<%= form.password_field :password %>
	</div>

	<div class="portlet-field">
		<%= form.label :password_confirmation, t('general.password_confirm') %>
		<%= form.password_field :password_confirmation %>
	</div>

	<% if can? :assign_roles, current_user %>

	<!-- <h2><%= image_tag("roles.png", :class => 'veralign') %> <%= t 'user.roles' %></h2> -->

	<div class="controlset portlet-field">
		<span class="label"><%= form.label :role %></span>
		<div>
			<% for role in RoleType.all %>
			<%= check_box_tag "user[role_type_ids][]", role.id, @user.role_types.include?(role), :id => "role_#{role.name.gsub(/ /, '_')}" %>
			<%= form.label role.name %><br />
			<% end %>
		</div>
		<%= hidden_field_tag "user[role_type_ids][]", "" %>
	</div>
	<div id="is_manager" style="display:none">
		Campus managed:
		<% Campus.all.each do |campus| %>
			<%= check_box_tag "user[managed_campus_ids][]", campus.id, @user.managed_campuses.include?(campus), :id => "campus_#{campus.id}" %>
			<%= campus.name %>
		<% end %>
	</div>

	<div id="is_student" style="display:none">
		Class :
		<%= collection_select :user, :classroom_id, Classroom.all, :id, :name_with_campus %>
	</div>

	<% end %>

	<div class="buttonrow">
		<%= form.submit t('user.create'), :class => "submit" %>
	</div>
</div>