<%- content_for :head_title do -%>
	<%= t 'general.welcome' %> <%= t 'general.application_name' %> - <%= t 'login.signup' %>
<%- end -%>

<%- content_for :head_end do -%>
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'jquery-ui' %>
	<%= javascript_include_tag 'jrails' %>
	<%= stylesheet_link_tag 'login' %>
<%- end -%>

<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for :user, :url => users_path do |f| -%>
<fieldset>
	<!--[if !IE]>start row<![endif]-->
	<div class="row">
		<%= label_tag t('general.nickname') %>
			<span class="input_wrapper">
				<%= f.text_field :login, :class => 'inputStyle' %>
			</span>
		</div>
		
		<div class="row">
			<%= label_tag t('general.firstname') %>
				<span class="input_wrapper">
					<%= f.text_field :firstname, :class => 'inputStyle' %>
				</span>
		</div>
		
		<div class="row">
			<%= label_tag t('general.lastname') %>
				<span class="input_wrapper">
					<%= f.text_field :lastname, :class => 'inputStyle' %>
				</span>
		</div>
		
		<div class="row">
			<%= label_tag t('general.mail') %>
				<span class="input_wrapper">
					<%= f.text_field :email, :class => 'inputStyle' %>
				</span>
		</div>
		
		<div class="row">
			<%= label_tag t('general.password') %>
				<span class="input_wrapper">
					<%= f.password_field :password, :class => 'inputStyle' %>
				</span>
		</div>

		<div class="row">
			<%= label_tag t('general.password_confirmation'), 'Confirm Pass.' %>
				<span class="input_wrapper">
					<%= f.password_field :password_confirmation, :class => 'inputStyle' %>
				</span>
		</div>

		<div class="row">
			<%= f.label :roles %><br />
		  <% for role in RoleType.all %>
		    <%= check_box_tag "user[role_type_ids][]", role.id, @user.roles.include?(role), :id => "role_#{role.id}" %>
		    <%= role.name %><br />
		  <% end %>
		  <%= hidden_field_tag "user[role_type_ids][]", "" %>
		  
		</div>

		<div class="row">
			<div class="inputs small_inputs">
				<span class="button blue_button unlock_button">
					<span>
						<span>
							<em>
								<span class="button_ico">
						
								</span>
							<%= t 'login.create_account' %>
						</em>
					</span>
				</span>
				<%= submit_tag 'Create my Account' %>
			</span>
		</div>
	</div>
	<!--[if !IE]>end row<![endif]-->	
</fieldset>

<% end -%>
