<p>
  <%= form.label :name %>
  <br/>
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :description %>
  <br/>
  <%= form.text_area :description, :rows => 4, :cols => 30 %>
</p>
<%- if can? current_user, :manage_courses %>
	<input type="checkbox" id="checkbox_academical" />
<%- end -%>
<p>
	<%= form.label :event_type %><br/>
	<%= form.collection_select :event_type_id, EventType.all, :id, :name %>
</p>
<p>
  <%= form.text_field :start_day, :class => 'date_picker' %>
  <%= form.text_field :start_time %>
	<%= t('to') %>
  <%= form.text_field :end_time %>
  <%= form.text_field :end_day, :class => 'date_picker' %>
</p>

<%- if current_user.admin? -%>
<p>
	<%= form.label :global_event %>
	<%= form.check_box :global_event, :default => false %>
</p>
<%- end -%>