<% remote_form_for @event do |f| %>
<p>
  <%=f.label :name %>
  <br/>
  <%=f.text_field :name %>
</p>
<p>
  <%=f.label :description %>
  <br/>
  <%=f.text_area :description, :rows => 4, :cols => 30 %>
</p>
<p>
  <%= f.text_field :start_day, :class => 'date_picker' %>
  <%= f.text_field :start_time %>
	<%= t('to') %>
  <%=f.text_field :end_time %>
  <%=f.text_field :end_day, :class => 'date_picker' %>
</p>
<p>
  <%=f.submit 'ok' %>
</p>
<%end %>