<h4>Informations Générales</h4>
<div class="message message-success message-closable">
	<div class="portlet-field" style="margin-top:3%; border:none;">
		<%= form.label :name %>
		<%= form.text_field :name %>
	</div>
	<div class="portlet-field" style="margin-top:3%; border:none;">
		<%= form.label :description %>
		<%= form.text_area :description, :rows => 4, :cols => 30 %>
	</div>
	<div class="portlet-field" style="margin-top:3%; border:none;">
		<%= form.label :start_day %>
		<%= form.text_field :start_day, :class => 'date_picker' %>
		<%= form.select :start_time, time_options, :class => 'time_picker' %>
	</div>
	<div class="portlet-field" style="margin-top:3%; border:none;">
		<%= form.label :end_day %>
		<%= form.text_field :end_day, :class => 'date_picker' %>
		<%= form.select :end_time, time_options, :class => 'time_picker' %>
	</div>
</div>

<h4>Options de L'Évenement</h4>
<div class="message message-success message-closable">
	<%- if can? :manage, Classroom -%>
	<div class="portlet-field" style="margin-top:3%">
		<%= form.label :force_display %>
		<%= form.check_box :force_display, :default => false %>
	</div>
	<%- end -%>
	
	<%- if current_user.admin? -%>
	<div class="portlet-field">
		<%= form.label :global_event %>
		<%= form.check_box :global_event, :default => false, :id => 'toggle_global' %>
	</div>
	<%- end -%>
	
	<div class="portlet-field">
		<%= form.label :event_type %>
		<%= form.collection_select :event_type_id, EventType.all, :id, :name, {:include_blank => true} %>
	</div>
	
	<%- if can? :manage, Classroom  %>
	<div class="portlet-field">
		<%= form.label :event_for %>
		<%= form.select :event_scope_type, (current_user.admin? ? ['Campus', 'Cursus', 'Classroom'] : ['Campus', 'Classroom']), {:include_blank => true} %>
		
		<span id="event_scope_id_select" style="width:50%">
			<% if not @event.event_scope_type.blank? and @event.event_scope_type != 'User' %>
			<%= form.collection_select :event_scope_id, Kernel.const_get(@event.event_scope_type).all, :id, :name, {:include_blank => true}, {:style => "width:50%"} %>
			<% end %>
		</span>
	</div>
	<div id="for-classrooms" <%= 'style="display:none"' unless @event.academical %>>
		<%= t('general.event_for_academical') %>
		<input type="checkbox" id="toggle_academical"/>
		<div class="academical" class="portlet-field">
				<%= label :school_subject, :school_subject %>
				<span id="school_subject_select" style="width:50%">
				</span>
		
				<%= label :teaching_method, :teaching_method %>
				<span id="teaching_method_select" style="width:50%">
				</span>
		</div>
	</div>
	<p>
	<div class="portlet-field">
		<%= form.label :speaker %>
		<input type="checkbox" id="toggle_spearker-exists" <%= 'checked="checked"' if @event.speaker_name.blank? %> />
		<%= form.collection_select :speaker_id, User.intervenants, :id, :login, {:include_blank => true}, :class => 'spearker-exists' %>
		<%= form.text_field :speaker_name, :class => 'not_spearker-exists' %>
	</div>
	<%- end -%>
</div>

