<%- content_for :menu do -%>
<p>
  <%= link_to_remote t('event.create_event'), :url => {:action => :new} %>
</p>
<%- end -%>
<%- content_for :head_title do -%>
	<%= t 'general.welcome' %> <%= t 'general.application_name' %>
<%- end -%>

<%- content_for :head_end do -%>
	<%= javascript_include_tag 'events' %>
	<%= javascript_include_tag "fullcalendar/#{I18n.locale}" if locale_accepted.include? I18n.locale %>
<%- end -%>
<script>
  $(document).ready(function(){
      // page is now ready, initialize the calendar...
      $('#calendar').fullCalendar({
          editable: true,
          header: {
              left: 'prev,next today',
              center: 'title',
              right: 'month,agendaWeek'
          },
					allDaySlot: false,
          defaultView: 'agendaWeek',
          height: 500,
          slotMinutes: 60,
					allDayDefault: false,
					dragToCreate: true,
					dragToCreateFn: function(calEvent){
						var start_day = calEvent.start.getUTCDate() + "/" + (calEvent.start.getUTCMonth() + 1) + '/' + calEvent.start.getFullYear();
						var end_day = calEvent.end.getUTCDate() + "/" + (calEvent.end.getUTCMonth() + 1) + '/' + calEvent.end.getFullYear();
						var start_time = calEvent.start.getHours()+':'+calEvent.start.getMinutes();
						var end_time = calEvent.end.getHours()+':'+calEvent.end.getMinutes();
						jQuery.ajax({data: {event: {start_day: start_day, end_day: end_day, start_time: start_time, end_time: end_time}, dom_id: calEvent._id}, dataType:'script', type:'post', url:'/events/new'});
					},
					loading: function(bool){
              if (bool) 
                  $('#loading').show();
              else 
                  $('#loading').hide();
          },
          events: '<%= events_path %>',
          timeFormat: 'h:mm t{ - h:mm t} ',
          dragOpacity: "0.5",
          eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc){
              moveEvent(event, dayDelta, minuteDelta, allDay);
          },
          
          eventResize: function(event, dayDelta, minuteDelta, revertFunc){
              resizeEvent(event, dayDelta, minuteDelta);
          },
          
          eventClick: function(event, jsEvent, view){
              showEventDetails(event);
          },
      });
  });
</script>
<div>
  <div id='calendar'>
  </div>
</div>
<div id = "desc_dialog" style ="display:none;">
  <div id = "event_desc">
  </div>
  <br/>
  <br/>
  <div id = "event_actions">
    <span id = "edit_event"></span>
    <span id = "delete_event"></span>
  </div>
</div>
<div id = "create_event_dialog" style ="display:none;">
  <div id = "create_event">
  </div>
</div>
