<%- content_for :head_end do -%>
	<%= stylesheet_link_tag 'events' %>
<%- end -%>
<%= render :partial => 'javascripts' %>

	<% form_for(@event) do |f| %>
		<%= f.error_messages %>
		<%= render :partial => f %>
	  <div class="buttonrow">
	    <%= f.submit 'Create', :class => "submit" %>
	  </div>
	<% end %>

<%= link_to 'Back', events_path %>
