<%- if @event.event_type_name and !@event.school_subject -%>
	<span class="label-show">Event Type: </span>
	<%= @event.event_type_name %>
	<br />
<%- end -%>
<%- if @event.description -%>
	<span class="label-show">Description: </span>
<%= @event.description %>
<br />
<%- end -%>
<%- if @event.speaker or !@event.speaker_name.blank? -%>
	<span class="label-show">Speaker: </span>
	<%= @event.organizer %>
	<br />
<%- end -%>
<%- if @event.event_scope_type -%>
	<span class="label-show">Event for: </span>
<%= @event.event_scope_type %>
<br />
<%- end -%>
<%- if @event.event_scope -%>
	<span class="label-show">Campus: </span>
	<%= @event.event_scope.name %>
	<br />
<%- end -%>

<%- if @event.room or !@event.room_name.blank? -%>
	<span class="label-show">Room: </span>
	<%= @event.location %>
	<br />
<%- end -%>
<span class="label-show">Begin at: </span> <%= l @event.begin_at %> <span class="label-show"> End at: </span> <%= l @event.end_at %> <br />


<%- if can? :manage, @event -%>
	<%= link_to_function 'Edit', "editEvent(#{@event.id})" %>
	<%= link_to_function 'Delete', "deleteEvent(#{@event.id})" %>
<%- end -%>