<script type="text/javascript" charset="utf-8">
	<%= render :partial => 'javascripts' %>
</script>

<% remote_form_for [@cursus, @school_subject], :update => {:success => "school_subjects_list", :failure => "errors"} do |f| %>
<%= f.error_messages %>
<div class="portlet-content">

	<div class="portlet-field">
		<%= f.label :school_subject_name, t('school_subjects.name') %>
		<%= f.text_field :name %>
	</div>
	<div class="portlet-field">
		<%= f.label :school_subject_description, t('school_subjects.description') %>
		<%= f.text_field :description %>
	</div>

</div>
<div class="buttonrow" style="text-align:center;">
	<%= f.submit t('school_subjects.update'), :class => "submit", :id => "edit_school_subject_update" %>
		<%= f.submit t('school_subjects.cancel'), options = {:name => "school_subject[Cancel]", :class => "submit", :id => "cancel_school_subject_creation"} %>
</div>
<% end %>