<% if @campus.rooms.count > 0 %>
<table style="margin:auto;">
	<thead>
		<tr>
			<th width="5%"><%= t 'general.number' %></th>
			<th width="75%"><%= t 'general.name' %></th>
			<th width="20%"><%= t 'general.actions' %></th>
		</tr>
	</thead>
	<tbody>
		<% @campus.rooms.each do |room| %>
		<tr>
			<th><%= room.id %></th>
			<td><%= room.name %></td>
			<td><%= link_to_remote image_tag('editer_little.png', :class => "veralign edit"), :url =>  edit_campus_room_path(@campus, room), :method => "get", :update => { :success => "form_add_rooms", :failure => "error" } %>

			<%= link_to_remote image_tag('delete_little.png', :class => "veralign"), :url => campus_room_path(@campus, room), :method => "delete", :update => { :success => "rooms", :failure => "error" } %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<% else %>
<h6><%= t 'rooms.no_rooms_available' %></h6>
<% end %>