  <%= form.error_messages %>
	<%= form.label :name %>
	<%= form.text_field :name %>
	<br />
	<%= form.label :address%>
	<%= form.text_field :address %>
	<br />
	<%= form.label :zip%>
	<%= form.text_field :zip %>
	<br />
	<%= form.label :city%>
	<%= form.text_field :city %>
	<br />
	<%= form.label :country%>
	<%= form.text_field :country %>
	<br />
	<%= form.label :timezone%>
	<%= form.time_zone_select :timezone, ActiveSupport::TimeZone.all %>
	<br />
	<%= form.label :select_cursuses %>
	<br/>
	<% for cursus in Cursus.all %>
	  <%= check_box_tag "campus[cursus_ids][]", cursus.id, @campus.cursuses.include?(cursus), :id => "cursus_#{cursus.id}" %>
	  <%= cursus.name %><br />
	<% end %>
	<%= hidden_field_tag "campus[cursus_ids][]", "" %>
	
  <p>
    <%= form.submit 'Create' %>
  </p>
