<div class="listing-header">
	<h4><%= t 'menu.campus.campus' %></h4>
</div>
<!-- #icon :information, "Information icon"-->
<div class="listing-content">
<table>
  <tr>
  </tr>

<% @campuses.each do |campus| %>
	<tr class="<%= cycle("", "odd") -%>">
		<td><%= link_to campus.name, campus_path(campus) %></td>
		<td><%= link_to 'Edit', edit_campus_path(campus) %></td>
		<td><%= link_to 'Destroy', campus_path(campus), :confirm => 'Are you sure?', :method => :delete %></td>
  	</tr>
<% end %>
</table>

</div>
<%= link_to 'New campus', new_campus_path %>