
<table>
  <tr>
  </tr>

  	<tr>
		<td><%= @campus.name %></td>
  	</tr>
  	<tr>
		<td><%= @campus.address %></td>
  	</tr>
 	<tr>
		<td><%= @campus.address %></td>
  	</tr>
 	<tr>
		<td><%= @campus.zip %></td>
  	</tr>
 	<tr>
		<td><%= @campus.city %></td>
  	</tr>
 	<tr>
		<td><%= @campus.country %></td>
  	</tr>
 	<tr>
		<td><%= @campus.timezone %></td>
  	</tr>
</table>

<br />

<%= link_to 'Edit', edit_campus_path(@campus) %> |
<%= link_to 'Back', campuses_path %>