
<table>
  <tr>
  </tr>

  	<tr>
		<td><%= t "general.name" %></td>
		<td><%= @campus.name %></td>
  	</tr>
 	<tr>
		<td><%= t "general.address" %></td>
		<td><%= @campus.address %></td>
  	</tr>
 	<tr>
		<td><%= t "general.zip" %></td>
		<td><%= @campus.zip %></td>
  	</tr>
 	<tr>
		<td><%= t "general.city" %></td>
		<td><%= @campus.city %></td>
  	</tr>
 	<tr>
		<td><%= t "general.country" %></td>
		<td><%= @campus.country %></td>
  	</tr>
 	<tr>
		<td><%= t "general.timezone" %></td>
		<td><%= @campus.timezone %></td>
  	</tr>
	<% if @campus.cursuses.count > 0 %>
	<tr>
		<td><%= t "general.cursuses" %></td>
		<td>
			<% @campus.cursuses.each do |cursus| %>
			<%= cursus.name %>
			<% end %>
		</td>
  	</tr>
	<% end %>
</table>

<br />

<%= link_to 'Edit', edit_campus_path(@campus) %> |
<%= link_to 'Back', campuses_path %>