<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= yield :head_title %></title>

		<%= render :partial => 'shared/head' %>
		<%= yield :head_end %>
		<%= stylesheet_link_tag 'style' %>
		<%= stylesheet_link_tag 'typography' %>
		<%= stylesheet_link_tag 'orange' %>
		<%= stylesheet_link_tag 'minimal' %>
		<%= javascript_include_tag 'top_up-min' %>		
		<%= javascript_include_tag 'superfish' %>
		<%= javascript_include_tag 'custom' %>
		

		
  </head>
  <body>
	<div id="wrap">
		<div id="header">
			<div id="logo">
				<h1><%= link_to(t('general.application_name'), '/') %></h1>
				<p class="description"><%= t 'general.application_caption' %></p>
			</div>
			<ul class="sf-js-enabled sf-shadow" id="nav">
				<li><%= link_to t('general.home'), root_path %></li>
				<li class="">
					<a class="sf-with-ul" href="#"><%= t 'menu.events.title' %><span class="sf-sub-indicator"> </span></a>
					<ul style="display: none; visibility: hidden; ">
						<li class="submenu"><%= link_to_remote t('menu.events.create_event'), :url => {:action => :new} %></li>
					</ul>
				</li>
				<li class="">
					<a class="sf-with-ul" href="#"><%= t 'menu.users.title' %><span class="sf-sub-indicator"> </span></a>
					<ul style="display: none; visibility: hidden; ">
						<li class="submenu"><%= link_to t('menu.users.manage_users'), users_path %></li>
					</ul>
				</li>
				<li class="">
					<a class="sf-with-ul" href="#"><%= t 'menu.gestion.title' %><span class="sf-sub-indicator"> </span></a>
					<ul style="display: none; visibility: hidden; ">
						<li class="submenu"><%= link_to t('menu.gestion.campus.title'), campuses_path %></li>
						<li class="submenu"><%= link_to t('menu.gestion.cursus.title'), cursuses_path %></li>
						<li class="submenu"><%= link_to t('menu.gestion.periods.title'), :url => {:action => :show} %></li>
					</ul>
				</li>
				<%= yield :menu %>
				<li><%= link_to t('login.logout'), '/logout' %></li>
			</ul>
		</div> <!--#header-->
		
		<div id="inner-wrap" class="clearfix">
			<div id="content" class="clearfix">
					<div class="subPageContent">
						<% if flash[:notice] -%>
						<div id = 'flash_notice'>
					 		<%= flash[:notice] %>
				        </div>
				        <% end -%>
				        <% if flash[:error] -%>
				        	<div id = 'flash_error'>
					         	<%= flash[:error] %>
						    </div>
						<%end -%>
						<div id = 'loading'>
							
						</div>
						<div class="aplicationContent">
							<div class="appRightContent">
							   <%= yield %>
							</div>
						</div>
				</div>  <!--#content-->

		</div> <!--#inner-wrap-->

				<div id="footer" class="clearfix">
					<span id="copyright">Copyright © 2009 Your Name - All rights reserved. <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a></span>
					<ul class="nav">

						<li><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Contact</a></li>			
					</ul>
				</div>
</div> <!--#wrap-->
    <div class="wrapper">
		<div id="login_info" style="width:100%;">
			<div class="ui-widget">
				<div class="ui-state-highlight ui-corner-all" style="margin-top: 5px; padding: 0 .7em; float:right; width:30%;"> 
						<p>
							<span class="ui-icon ui-icon-info" style="float: right; margin-right: .3em;"></span>
							<img src="images/user_suit.png" /> <%= t 'general.authentified_user' %> : <%= current_user.login %> | 	<%= link_to t('login.logout'), '/logout' %>
						</p>
				</div>
			</div>
			<div style="clear:both;">
		</div>
      

  </body>
</html>
