<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= yield :head_title %></title>
		<%= render :partial => 'shared/head' %>
		<%= yield :head_end %>
		<%= stylesheet_link_tag 'user_frame' %>
  </head>
  <body class="subpage">
    <div class="wrapper">
		<div id="login_info" style="width:100%;">
			<div class="ui-widget">
				<div class="ui-state-highlight ui-corner-all" style="margin-top: 5px; padding: 0 .7em; float:left; width:66%;"> 
						<p>
							<span class="ui-icon ui-icon-info" style="float: right; margin-right: .3em;"></span>
							<%= yield :menu %>
						</p>
				</div>
			</div>
			<div class="ui-widget">
				<div class="ui-state-highlight ui-corner-all" style="margin-top: 5px; padding: 0 .7em; float:right; width:30%;"> 
						<p>
							<span class="ui-icon ui-icon-info" style="float: right; margin-right: .3em;"></span>
							<img src="images/user_suit.png" /> <%= t 'general.authentified_user' %> : <%= current_user.login %> | 	<%= link_to t('login.logout'), '/logout' %>
						</p>
				</div>
			</div>
			<div style="clear:both;">
		</div>
      <div class="subPageContent">
        <% if flash[:notice] -%>
        <div id = 'flash_notice'>
          <%= flash[:notice] %>
        </div>
        <% end -%>
        <% if flash[:error] -%>
        <div id = 'flash_error'>
          <%= flash[:error] %>
        </div>
        <%end -%>
        <div id = 'loading'>
          
        </div>
        <div class="aplicationContent">
          <div class="appRightContent">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
