<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title><%= yield :head_title %></title>
<%= yield :head_end %>
<!--[if lte IE 6]><link media="screen" rel="stylesheet" type="text/css" href="css/ie-login.css" /><![endif]-->
</head>


<body>
	<div id="wrap">
		<div id="header">
			<div id="logo">
				<h1><%= link_to(t('general.application_name'), root_path) %></h1>
				<p class="description"><%= t 'general.application_caption' %></p>
			</div>
		</div> <!--#header-->
		
		<div id="inner-wrap" class="clearfix">
			<div id="content" class="clearfix">
					<div class="subPageContent">
						<% if flash[:notice] -%>
						<div id = 'flash_notice'>
					 		<%= flash[:notice] %>
				        </div>
				        <% end -%>
				        <% if flash[:error] -%>
				        	<div id = 'flash_error'>
					         	<%= flash[:error] %>
						    </div>
						<%end -%>
						<div id = 'loading'>
							
						</div>
						<div class="aplicationContent">
							<div class="appRightContent">
							   <%= yield %>
							</div>
						</div>
				</div>  <!--#content-->

		</div> <!--#inner-wrap-->

				<div id="footer" class="clearfix">
					<span id="copyright"><%= t 'copyright.company' %></span>
					<ul class="nav">
						<li>
							<%= link_to image_tag('flags/fr.png'), :locale => :fr %>
						</li>
						<li>
							<%= link_to image_tag('flags/gb.png'), :locale => :en %>
						</li>
					</ul>
				</div>
			</div> <!--#wrap-->
  </body>
</html>
