<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title><%= yield :head_title %></title>
<%= yield :head_end %>
<!--[if lte IE 6]><link media="screen" rel="stylesheet" type="text/css" href="css/ie-login.css" /><![endif]-->
</head>

<body>
	<!--[if !IE]>start wrapper<![endif]-->
	<div id="wrapper">
		<!--[if !IE]>start header<![endif]-->
		<div id="header">
			<div class="inner">

			</div>
		</div>
		<!--[if !IE]>end header<![endif]-->
		<!--[if !IE]>start content<![endif]-->
		<div id="content">
				<!--[if !IE]>start login_wrapper<![endif]-->
				<div id="login_wrapper">
					<span class="extra1"></span>
					<div class="title_wrapper">
						 <% if flash[:notice] -%>
					        <div id = 'flash_notice'>
					          <%= flash[:notice] %>
					        </div>
					     <% end -%>
					     <% if flash[:error] -%>
					        <div id = 'flash_error'>
					          <%= flash[:error] %>
					        </div>
					     <%end -%>
						<h2><%= t 'login.signup' %></h2>
					</div>
					<%= yield %>
				</div>
				<!--[if !IE]>end login_wrapper<![endif]-->
			
		</div>
		<!--[if !IE]>end content<![endif]-->
	</div>
	<!--[if !IE]>end wrapper<![endif]-->
</body>
</html>
